@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    color: #f67c25 !important;
    background-color: transparent !important;
   font-weight: bold !important;
   font-size: 20px !important;
   text-shadow: 2px 2px 18px #f67c25;
    
}